<?xml version='1.0' encoding='utf-8'?>
<widget id="com.marcioCarneiro.appPomodoro" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Pomodoro</name>
    <description>Temporizador de tempo.</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Pomodoro
    </author>
    <content src="index.html" />
    <icon src="www/res/icon.png"/>

    <preference name="SplashScreen" value="screen"/>
    <splash src="www/res/icon.png" />

    <preference name="Fullcreen" value="screen" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
